@media (min-width: 500px) {
  .form-horizontal {
    width: 300px;
  }
}

@media (min-width: 350px) {
  .form-horizontal {
    width: 270px;
  }
}

@media (min-width: 768px) and(max-width: 992px) {
  .form-horizontal {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .form-horizontal {
    width: 500px;
  }
}

#login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}